* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #eee;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    padding: 0 16px;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #660000;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    position: absolute;
    left: 20px;
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

header ul {
    list-style-type: none;
}

header ul li {
    float: left;
}

header ul li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Hovers */
/* Grow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

footer p {
    color: #000;
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: auto;
    min-height: 75vh;
    max-height: auto;
    padding: 10px;
    margin: 16px;
}

.content h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 6px;
}

/* Home */
.profile-icon {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #fff 5px solid;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 50px auto;
}

.big-title {
    font-size: 40px;
}

.red {
    font-family: "McLaren", cursive;
    color: #660000;
}

/* Projects */
.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-item {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 250px;
    height: auto;
    margin: 16px;
}

.project-item>img {
    width: 150px;
    height: 100px;
    padding: 2px;
}

.project-item h3 {
    margin-top: 10px;
}

.project-item>p,
.project-item>a {
    font-size: 12px;
    margin-bottom: 10px;
    color: inherit;
}

/* About me */
.tabs {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.tabs button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: grey;
}

.tab-title {
    margin: 0px 20px;
}

.tab-content {
    width: 650px;
}

.work-container {
    margin-bottom: 12px;
}

.work-container h4,
.work-container p,
.education-container {
    margin: auto;
    text-align: center;
}

.company-name,
.education-university {
    color: #660000;
}

.period {
    color: #808080;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 8px;
}

.period-separator {
    color: #000;
}

.tab-content ul {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tab-content li {
    color: #595959;
    
}

/* Hobbies */
.hobbies-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.hobbie-item {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    margin: 16px;
    width: 250px;
    font-size: 14px;
}

.hobbie-item>img {
    width: 190px;
    height: 140px;
    padding: 2px;
}

.tiny-text {
    text-align: center;
    font-size: 10px;
}

/* Contact */
.contact-container {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.contact-container a {
    color: inherit;
    text-decoration: none;
}

.contact-item {
    display: flex;
    flex-direction: column;
    margin: 8px;
    text-align: center;
    justify-content: center;
    width: 220px;
    height: 80px;
    background: radial-gradient(circle, rgba(255,255,255,1) 15%, rgba(102,0,0,1) 100%);
    border-radius: 50px;
    box-shadow: 0 2px 5px #ccc;
}

@media screen and (max-width: 768px) {
    header h1 {
        position: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: "McLaren", cursive;
        font-weight: 200;
    }
    
    .hobbies-container {
        flex-direction: column;
        align-items: center;
    }

    .tab-content ul {
        width: 500px;
        padding-left: 140px;
    }

    .contact-container {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
    }
  }